/* body {
    
    align-items: center;
    } */


#board {
    padding: 10px;
    width: 500px;
    /* width: 300px; */
}

/* .navbar {
    background-color: 
    #302e2b;
    color:
    #93c47d ;
} */

/* #logo {
    position: relative;
    left: 10%;
} */

/* #secondWindow {
    max-width: 800px;
    margin: 10px;
    min-height: 370px;
} */

#moveTable {
    width: 90%;
    height: 250px;
    overflow: auto;
}

/* #controls {
    position: absolute;
    bottom: 0;
} */
